{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SPMS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">SPMS</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'register_admin' %}">Register Admin</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'register_supervisor' %}">Register Supervisor</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'register_student' %}">Register Student</a></li>
            
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
